<% if @client_category.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @client_category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
  <%= form_with(model: @client_category) do |f| %>
  <div class="form-group">
    <%= f.label :name, class:"form-label" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :discount_percent, class:"form-label" %>
    <%= f.text_field :discount_percent, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Cadastrar', disable_with: 'cadastrando...', class:"btn btn-primary" %>
  </div>
<% end %>
