<% if @client_category.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @client_category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h1 class="mt-4 page-title">Cadastrar categoria</h1>

<div class="card mb-4">
	<div class="card-header">
		<i class="fas fa-table me-1"></i>Formulário
	</div>
	<div class="card-body">
    <%= form_with(model: @client_category) do |f| %>
      <div class="mb-3 row">
        <div class="col">
          <%= f.label :name, class:"form-label" %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="col">
          <%= f.label :discount_percent, class:"form-label" %>
          <%= f.number_field :discount_percent, class:"form-control" %>
        </div>
      </div>
      <div class="form-group button-form-group">
        <%= f.submit 'Cadastrar', disable_with: 'cadastrando...', class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-group button-form-group">
  <%= link_to 'Voltar', client_categories_path, class:"btn btn-secondary" %>
</div>
