<h1 class="mt-4 page-title">Taxa de câmbio</h1>

<% if admin_signed_in? %>
  
  <div class="breadcrumb breadcrumb-menu card">
    <li class="breadcrumb-item"><%= link_to "Cadastrar Taxa", new_exchange_rate_path, class:"btn btn-primary" %></li>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Lista
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col text-center">Data</th>
            <th scope="col">Rubi <i class="fa fa-exchange"></i> Real</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% if @exchange_rates.empty? %>
            <p>Não há taxa de câmbio cadastrada</p>
          <% else %>
            <% @exchange_rates.each do |exchange_rate| %>
              <tr>
                <td><%= link_to I18n.l(exchange_rate.register_date), exchange_rate_path(exchange_rate) %></td>
                <td><%= exchange_rate.rubi_coin %> rubi equivale a <%= number_to_currency exchange_rate.brl_coin %> reais</td>
                <td><%= ExchangeRate.human_attribute_name(exchange_rate.status) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Lista
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col text-center">Data</th>
            <th scope="col">Rubi <i class="fa fa-exchange"></i> Real</th>
          </tr>
        </thead>
        <tbody>
          <% if @approved_exchange_rates.empty? %>
            <p>Não há taxa de câmbio cadastrada</p>
          <% else %>
            <% @approved_exchange_rates.each do |exchange_rate| %>
              <tr>
                <td><%= I18n.l(exchange_rate.register_date) %></td>
                <td><%= exchange_rate.rubi_coin %> rubi equivale a <%= number_to_currency exchange_rate.brl_coin %> reais</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>