<h1 class="mt-4 page-title"><%= ExchangeRate.model_name.human %></h1>

<div class="card">
  <div class="card-header">
    <h5><strong><%= I18n.l(@exchange_rate.register_date) %></strong></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong><%= ExchangeRate.human_attribute_name(:status) %>:</strong> <%= ExchangeRate.human_attribute_name(@exchange_rate.status) %></li>
    <li class="list-group-item"><strong>Valor:</strong> <%= number_to_currency @exchange_rate.brl_coin %></li>
    <li class="list-group-item"><strong><%= ExchangeRate.human_attribute_name(:variation) %> em relação a última taxa aprovada:</strong> <%= @exchange_rate.variation %>%</li>
    <li class="list-group-item"><strong><%= ExchangeRate.human_attribute_name(:created_by) %>:</strong> <%= @exchange_rate.created_by.full_name %>%</li>
    <% if @exchange_rate.approved_by.present? %>
      <li class="list-group-item"><strong><%= ExchangeRate.human_attribute_name(:approved_by) %>:</strong> <%= @exchange_rate.approved_by.full_name %></li>
    <% elsif @exchange_rate.recused_by.present? %>
      <li class="list-group-item"><strong><%= ExchangeRate.human_attribute_name(:recused_by) %>:</strong> <%= @exchange_rate.recused_by.full_name %></li>
    <% end %>
  </ul>
  <% if @exchange_rate.pending? %>
    <div class="card-footer text-muted card-footer-buttons-group">
      <div class="card-footer-buttons">
        <%= button_to 'Aprovar taxa', approved_exchange_rate_path(@exchange_rate), class: 'btn btn-primary' %>
      </div>
      <div class="card-footer-buttons">
        <%= button_to 'Recusar taxa', recused_exchange_rate_path(@exchange_rate), class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>
