<!DOCTYPE html>
<html>
  <head>
    <title>Pagamentos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
  </head>

  <body class="container mt-5">
    <header class="text-center">
      <%= link_to root_path do %>
        <h1 class="display-4">Pagamentos</h1>
      <% end %>
      <nav>
        
        <% if admin_signed_in? %>
          <div style="display: flex; flex-direction: row;">
            <%= "Nome de Usuário: #{current_admin.full_name}" %> |
            <%= "E-mail: #{current_admin.email}" %> |
            <%= "Status: #{Admin.human_enum_name(:status, current_admin.status)}" %> |  
            <%= link_to 'Categoria de clientes', client_categories_path %> |
            <%= link_to 'Taxa de câmbio', exchange_rates_path %> |
            <%= link_to 'Promoções', promotions_path %>
            <%= button_to 'Sair', destroy_admin_session_path, method: :delete, class: 'button' %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Entrar', new_admin_session_path %> |
            <%= link_to 'Taxa de câmbio', exchange_rates_path %>
          </div>
        <% end %>
      </nav>
    </header>
    <main>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
